/* font-family: "AVENGEANCE HEROIC AVENGER"; */
@font-face {
	font-family: "AVENGEANCE HEROIC AVENGER";
	src: url("../fonts/AVENGEANCE%20HEROIC%20AVENGER.ttf") format("truetype");
	src: url("../fonts/AVENGEANCE%20HEROIC%20AVENGER.otf")
	font-style: normal;
	font-weight: 400;
}
body{
	font-family: "AVENGEANCE HEROIC AVENGER", sans-serif;
}
.ca-container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.ca-card{
	width:140px;
	height: 200px;
	border: 1px solid #707070;
	border-radius: 15px;
	box-shadow: 0px 1px 1px 0.5px #282828;
	background: #ffffff;
	position: relative;
	margin: 20px;
}
h1{
	font-size: 18px;
	z-index: 10;
}
.ca-card .ca-card-top h1{
	position: relative;
	top:10px;
	left:10px;
}
.ca-card .ca-card-mid{
	font-size: 60px;
	display: block;
	position: absolute;
	left: 55px;
	top: 60px;
	margin: auto;
}
.ca-card .ca-card-mid-img{
	display: block;
	position: absolute;
	left: 15px;
	top: 20px;
}
img{
	width: 110px;
	height: 160px;
	z-index: 5;
}
.ca-card .ca-card-bot h1{
	transform: rotate(180deg);
	position: relative;
	top:113px;
	right:10px;
}
.ca-color{
	color: red;
}
.ca-card .ca-card-mid-numbers{
	display: block;
	margin: auto;
}
i{
	font-size: 28px;
}
#ca-jokerR{
	/*transform: rotate(180deg);*/
	position: absolute;
	bottom: 10px;
	right:10px;
}
#ca-jokerB{
	/*transform: rotate(180deg);*/
	position: absolute;
	bottom: 10px;
	right:10px;
}
/*2*/
.ca-card .ca-card-mid-2 i:first-child{
	position: absolute;
	top:35px;
	left:60px;
}
.ca-card .ca-card-mid-2 i:last-child{
	position: absolute;
	bottom:35px;
	left:60px;
	transform: rotate(180deg);
}
/*3*/
.ca-card .ca-card-mid-3 i:first-child{
	position: absolute;
	top:35px;
	left:60px;
}
.ca-card .ca-card-mid-3 i:nth-child(2){
	position: absolute;
	top:80px;
	left:60px;
}
.ca-card .ca-card-mid-3 i:last-child{
	position: absolute;
	bottom:35px;
	left:60px;
	transform: rotate(180deg);
}

/*4*/
.ca-card .ca-card-mid-4 i:first-child{
	position: absolute;
	top:35px;
	left:30px;
}
.ca-card .ca-card-mid-4 i:nth-child(2){
	position: absolute;
	top:35px;
	right:30px;
}
.ca-card .ca-card-mid-4 i:nth-child(3){
	position: absolute;
	bottom:35px;
	left:30px;
	transform: rotate(180deg);
}
.ca-card .ca-card-mid-4 i:last-child {
	position: absolute;
	bottom: 35px;
	right: 30px;
	transform: rotate(180deg);
}
/*5*/
.ca-card .ca-card-mid-4 i:nth-child(4){
	position: absolute;
	left: 60px;
	top: 80px;
}
/*6*/
.ca-card .ca-card-mid-6 i:first-child{
	position: absolute;
	top:35px;
	left:30px;
}
.ca-card .ca-card-mid-6 i:nth-child(2){
	position: absolute;
	top:35px;
	right:30px;
}
.ca-card .ca-card-mid-6 i:nth-child(3){
	position: absolute;
	top:85px;
	left:30px;
}
.ca-card .ca-card-mid-6 i:nth-child(4) {
	position: absolute;
	right: 30px;
	top: 85px;
}
.ca-card .ca-card-mid-6 i:nth-child(5) {
	position: absolute;
	left: 30px;
	bottom: 35px;
	transform: rotate(180deg);
}
.ca-card .ca-card-mid-6 i:last-child {
	position: absolute;
	bottom: 35px;
	right: 30px;
	transform: rotate(180deg);
}
/*7*/
.ca-card .ca-card-mid-6 i:nth-child(6) {
	position: absolute;
	left: 60px;
	top: 60px;
}
/*8*/
.ca-card .ca-card-mid-8 i:first-child{
	position: absolute;
	top:30px;
	left:30px;
}
.ca-card .ca-card-mid-8 i:nth-child(2){
	position: absolute;
	top:30px;
	right:30px;
}
.ca-card .ca-card-mid-8 i:nth-child(3){
	position: absolute;
	top:65px;
	left:30px;
}
.ca-card .ca-card-mid-8 i:nth-child(4) {
	position: absolute;
	top: 65px;
	right: 30px;
}
.ca-card .ca-card-mid-8 i:nth-child(5) {
	position: absolute;
	bottom: 65px;
	left: 30px;
	transform: rotate(180deg);
}
.ca-card .ca-card-mid-8 i:nth-child(6) {
	position: absolute;
	bottom: 65px;
	right: 30px;
	transform: rotate(180deg);
}
.ca-card .ca-card-mid-8 i:nth-child(7) {
	position: absolute;
	bottom: 30px;
	left: 30px;
	transform: rotate(180deg);
}
.ca-card .ca-card-mid-8 i:last-child {
	position: absolute;
	bottom: 30px;
	right: 30px;
	transform: rotate(180deg);
}

/*9*/
.ca-card .ca-card-mid-8 i:nth-child(8) {
	position: absolute;
	top: 60px;
	left: 60px;
}
/*10*/
.ca-card .ca-card-mid-10 i:nth-child(9) {
	position: absolute;
	bottom: 60px;
	left: 60px;
	transform: rotate(180deg);
}

/*FLIPER*/
.flip-container {
	perspective: 1000px;
	margin: 20px;

}

.flip-container:hover .flipper, .flip-container:hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 140px;
	height: 200px;
}

.flipper {
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	/*position: relative;*/
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}
.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background-image: url(../img/back.jpg);
	background-size: cover;
	border-radius: 10px;
	position: absolute;
	top: 20px;
	left: -20px;
	width: 140px;
	height: 200px;
	box-shadow: 0px 1px 1px 1px #000;
}